/* identity.css */

:root {
  --figure-w: 260px;
  --gap: clamp(2rem, 5vw, 4rem);
}

.telha-about {
  padding: clamp(5rem, 12vh, 10rem) 0;
  background: #fff;
}

.telha-wrap {
  /* width: min(1680px, 100%); */
  margin: 0 auto;
  padding: 0 clamp(1rem, 2.2vw, 2.25rem);
}

.telha-content {
  display: grid;
  grid-template-columns: var(--figure-w) 1fr;
  column-gap: var(--gap);
  align-items: start;
  width: 100%;
  margin-bottom: 2rem;
}

.telha-figure-container {
  width: var(--figure-w);
  height: 500px; 
  margin-bottom: -12rem;
}

.telha-figure {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;         
  /* border: 1px solid #999; */
  border-radius: 8px;
  position: sticky;
  top: 2rem;
  /* background: #eee;          */
}


.telha-figure img {
  display: block;           
  width: 100%;
  height: 100%;
  object-fit: cover;       
  object-position: center;
}

/* Columna 2: texto */
.telha-note {
  max-width: 52ch;
  margin-top: 0;          
  margin-bottom: 1.5rem;
}

.telha-note p {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.4;
  color: rgba(11, 11, 12, .7);
  text-wrap: balance;
  font-family: ui-sans-serif, system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
}

.telha-headline {
  font-family: ui-sans-serif, system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;

  font-size: clamp(3.4rem, 7.6vw, 7.8rem);
  line-height: 0.92;

  grid-column: 1 / -1;
  width: 100%;
  
  letter-spacing: -0.06em;
  text-wrap: revert; 
}

.telha-offset {
  display: inline-block;
  margin-left: calc(var(--figure-w) + var(--gap));
}

/* BOTTOM SECTION */
.telha-bottom {
  /* border-top: 1px solid rgba(11, 11, 12, .1); */
  padding-top: 3rem;
  display: grid;
  grid-template-columns: var(--figure-w) 1fr 1fr;
  gap: var(--gap);
}

.telha-miniTitle { font-weight: 700; font-size: 1.3rem; margin-bottom: -1rem; font-family: ui-sans-serif, system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;}
.telha-miniSub { font-weight: 700; font-size: 1.1rem; color: rgba(0, 0, 0, 0.814); font-family: ui-sans-serif, system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif; }
.telha-rightTitle { font-weight: 650; font-size: 1.2rem; margin-bottom: -.7rem; font-family: ui-sans-serif, system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;}
.telha-rightPara {
  /* border-top: 1px solid rgba(11, 11, 12, .1); */
  padding-top: 0rem;
  line-height: 1.6;
  font-family: ui-sans-serif, system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
}

/* Responsive */
@media (max-width: 1024px) {
  .telha-content {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  .telha-figure-container {
    width: 100%;
    height: auto;
  }

  .telha-figure {
    position: static;
  }

  .telha-headline {
    max-width: 18ch;
  }

  .telha-bottom {
    grid-template-columns: 1fr;
  }
}