.hero {
  position: relative;
  height: 400vh;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
  background: white;
  will-change: transform, opacity, clip-path;
}

.track {
  display: flex;
  height: 100%;
  width: 400vw;
}

.panel {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: clamp(4rem, 14vw, 18rem);
  font-weight: 800;
  text-transform: uppercase;
}

.typeLayer {
  position: absolute;
  inset: 0;
  z-index: 2;
  will-change: transform, filter, clip-path, opacity;
}

/* VIDEO */
.video-layer {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.video-layer.isVisible {
  opacity: 1;
  pointer-events: auto;
}

.video-layer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoLayer.isFinal {
  pointer-events: auto;
}

main > section + section {
  position: relative;
  z-index: 1;
}