---
import SiteHeader from "@/components/SiteHeader.astro";
const { title = "Jeronimo Nunez | Frontend Engineer", lang = "es" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body id="inicio">
    <SiteHeader
    brand="JERÓNIMO NÚÑEZ"
      location="La Plata, AR"
      leftNav={[
        { label: "Home", href: "#inicio" },
        { label: "Enfoque", href: "#enfoque" },
        { label: "Destacados", href: "#destacados" },
        { label: "Proyectos", href: "#projects" },
      ]}
      rightNav={[{ label: "Contacto", href: "#contact" }]}
      sticky={true}
    />

    <slot />
  </body>
</html>